<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <br/>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../index.html">CS Flash Cards</a>

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a routerLink="/login">log in</a>
                        </li>

                        <li routerLinkActive="active">
                            <a routerLink="/cards">cards</a>
                        </li>
                        <li>
                            <a routerLink="/memorize">general</a>
                        </li>
                        <li>
                            <a routerLink="/memorize">code</a>
                        </li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>
                            <a href="">log out</a>
                        </li>

                    </ul>
                </div>
            </nav>


            <div class="alert alert-success" role="alert"> message </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>