<div class="well editPanel">
    <h2>Add a Card</h2>
    <form action="add_card" method="post" class="cardForm">
        <div class="form-group">
            <label for="general" class="toggleButton btn btn-default btn-lg">General &nbsp;
                <input type="radio" name="type" value="1" id="general" />
            </label>
            <label for="code" class="toggleButton btn btn-default btn-lg">Code &nbsp;
                <input type="radio" name="type" value="2" id="code" />
            </label>
        </div>
        <div class="form-group fieldFront">
            <label for="front">Front of Card</label>
            <input type="text" name="front" id="front" class="form-control">
        </div>
        <div class="form-group fieldBack">
            <label for="back">Back of Card</label>
            <textarea name="back" class="form-control" id="back" placeholder="back of card" rows="12"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="saveButton btn btn-lg btn-primary">Save</button>
        </div>
    </form>
</div>

<div class="page-header">
    <h2></h2>
</div>
<div class="btn-group btn-group-md" role="group" aria-label="filters">
    <a href="" class="btn btn-primary">All</a>
    <a href="" class="btn btn-default">General</a>
    <a href="" class="btn btn-default">Code</a>
    <a href="" class="btn btn-default">Known</a>
    <a href="" class="btn btn-default">Unknown</a>
</div>

<br />
<br />

<table class="table table-bordered">

    <tr>
        <td>
            <a href="edit" class="btn btn-xs btn-primary">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td class="cardContent">
            <h4>

            </h4>

            <br />
            <pre><code></code></pre>
        </td>
    </tr>

    <tr>
        <td>
            <em>No cards to show.</em>
        </td>
    </tr>
</table>